<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-us" lang="en-us">
  <head>
    <title>Loser</title>

    <meta http-equiv="content-type" content="text/html; charset=utf-8" />

    <link rel="stylesheet" type="text/css" media="screen" charset="utf-8" href="/stylesheets/master.css" />

    <script type="text/javascript" src="/javascripts/jquery-1.3.2.pack.js"></script>
    <!--[if IE]><script language="javascript" type="text/javascript" src="../excanvas.pack.js"></script><![endif]-->
    <script type="text/javascript" src="/javascripts/jquery.flot.pack.js"></script>
  </head>

  <body>
    <div class="container">
      <ul id="tabnav">
        <li class="tab"><a href="/summary/">Summary</a></li>
        <li class="tab"><a href="/weighings/">Weighings</a></li>
        <li class="tab"><a href="/chart/">Chart</a></li>

        <% if session and session.user %>
          <li class="tab"></li>
          <li class="tab"></li>
          <li class="tab"><a href="/logout">Logout</a></li>
        <% end %>
      </ul>
    </div>

    <div class="container">
      <% if message and message[:notice] %>
        <div id="notice">
          <%= message[:notice] %>
        </div>
      <% end %>

      <%= catch_content :for_layout %>
    </div>
  </body>
</html>
