<div class="column" id="column-form">
  <form action="/profile/update" method="post" name="profile" id="profile">

    <fieldset>
      <legend>Profile</legend>

      <ol>
        <li class="">
          <label for="email">Email</label>
          <input autocomplete="off" type="text" class="text email" maxlength="255" size="30" name="email" value="<%= session.user.email %>">
          <div class="vspacer"></div>
        </li>

        <li class="">
          <label for="password">New Password</label>
          <input autocomplete="off" type="password" class="text password" maxlength="255" size="30" name="password" value=""></label>
          <div class="vspacer"></div>
        </li>

        <li class="">
          <label for="password-confirm">Confirm New Password</label>
          <input autocomplete="off" type="password" class="text password" maxlength="255" size="30" name="password-confirm" value=""></label>
          <div class="vspacer"></div>
        </li>

        <li class="">
          <input type="submit" class="submit" name="submit" value="Update!" id="submit">
        </li>
      </ol>

    </fieldset>
  </form>
</div>
